{{#if navigation.length}}
<ul class="nav-list">
  {{#each navigation}}
  <li 
  style="{{#if (eq ./content 'REFERENCE')}}padding-top: 0.5rem; padding-bottom: 0.5rem;{{/if}}"
  class="nav-item 
  {{#if (or (eq ./content 'Personen') (eq ./content 'Bewoning') (eq ./content 'Verblijfplaatshistorie'))}}is-active{{/if}}
  {{#if (eq ./url @root.page.url)}} is-current-page{{/if}}" 
  data-depth="{{or ../level 0}}">
    {{#if ./content}}
    {{#if ./items.length}}
    <button class="nav-item-toggle"></button>
    {{/if}}
    {{#if ./url}}
    <a class="nav-link" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
    {{else}}
    <span class="nav-text">{{{./content}}}</span>
    {{/if}}
    {{/if}}
{{> nav-tree navigation=./items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
